:root {
    --naranja: #FC7300;
    --verdecito: #1F8A70;
    --azul-oscuro:  #00425A;
    --negro: #181823;
    --blanco: #EFF5F5
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto+Condensed&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0 30px;
}

.nav-bar {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--azul-oscuro);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}

.nav-bar > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 70px;
}

.nav-bar ul > a {
    text-decoration: none;
    color: var(--blanco);
    transition: 0.3s, transform 0.3s;
}

.nav-bar ul > a:hover {
    color: var(--naranja);
    transform: scale(1.1);
}

main {
    background-color: #00425A;
    height: 100vh;
    padding: 50px 0;
}

.cuerpo {
    height: 100%;
    background: var(--verdecito);
    padding-top: 100px;
}

.form {
    width: 500px;
    height: 100%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(27vh - 220px) auto;
    padding: 20px 15px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.titulo {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: grey;
    border-bottom: 3px solid black;
}
.parent-f {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
}
.child-f {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    
}

input {
    padding: 10px;
    /* box-sizing: border-box; */
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .3s;
    border-bottom: 2px solid grey;
}

input:focus, textarea:focus {
    border-bottom: 2px solid var(--verdecito);
}

p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: gray;
}

textarea {
    height: 95px; 
    width: 393px;
    resize: none !important;
    outline: none;
    background: none;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .3s;
    border-bottom: 2px solid grey;
    margin-top: 5px;
}

.asunto {
    width: 373px;
}

.btn-enviar {
  appearance: none;
  background-color: transparent;
  border: 1px solid var(--verdecito);
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  min-width: 0;
  outline: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  height: 40px;
  margin-top: 20px;
}

.btn-enviar:disabled {
  pointer-events: none;
}

.btn-enviar:hover {
  color: #fff;
  background-color: var(--verdecito);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn-enviar:active {
  box-shadow: none;
  transform: translateY(0);
}

@media screen and (max-width: 500px)  {
    .parent-f {
        padding: 5px;
        gap: 0;
    }
    .child-f {
        flex-wrap: wrap;
    }
    .asunto {
        width: 100%;
    }
    textarea {
        width: 100%;
        height: 100px;
    }
    .child-f-2 {
        margin-bottom: 15px;
    }
}